<section class="contact">
    <h3>CONTACT US</h3>
    <p>{{ site.address }}</p>
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <p><a href="tel:{{ site.phone | replace: ' ', '' }}">{{ site.phone }}</a></p>

    <div class="footer-logos">
        {% for logo in site.data.footer_logos %}
        <img src="{{ logo.image }}" alt="{{ logo.name }}">
        {% endfor %}
    </div>
</section>

<footer>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <!-- <script src="{{ '/assets/js/sitemap-generator.js' | relative_url }}"></script> -->
</footer>

<!-- JavaScript -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
{% if page.layout == 'home' %}
<script src="{{ '/assets/js/tmdb-fetcher.js' | relative_url }}"></script>
{% endif %}
