<nav class="desktop-nav">
    <ul class="nav-links" id="main-menu">
        <li><a href="{{ '/' | relative_url }}" class="nav-item">HOME</a></li>
        <li class="dropdown">
            <a href="{{ '/services/picture-edit/' | relative_url }}" class="nav-item">SERVICES</a>
            <div class="dropdown-content">
                <!-- <a href="{{ '/services/audio/' | relative_url }}">Audio</a> -->
                <a href="{{ '/services/picture-edit/' | relative_url }}">Picture Edit</a>
                <a href="{{ '/services/storage-ingest/' | relative_url }}">Storage & Ingest</a>
                <!-- <a href="#">Remote Edit & Finish</a> -->
                <a href="{{ '/services/tech-consultation/' | relative_url }}">Tech Consultation</a>
            </div>
        </li>
        <li class="logo-container">
            <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="{{ site.title }}" class="logo-svg">
            </a>
        </li>
        <li><a href="{{ '/about/' | relative_url }}" class="nav-item">ABOUT</a></li>
        <li><a href="{{ '/contact/' | relative_url }}" class="nav-item">CONTACT</a></li>
    </ul>
</nav>
